__pycache__/
*.pyc
synthea_dataset/
evaluation_set_200/
data/
*.jsonl
.streamlit/
logs/
*.bin
*.pt
*.h5
transformers_cache/
models/**/*.bin
models/**/*.pt
models/**/*.h5
models/deid_finetuned/checkpoint-*/
models/deid_finetuned/runs/
*.log
training_args.bin
models/deid_finetuned/pytorch_model.bin
models/deid_finetuned/tensorflow_model.h5
archive/